<%- include('partials/header') %>

    <div>
        <p>Bonjour <%= user.firstname %> <%= user.lastname %></p>
        <p>Email : <%= user.email %></p>
        <p>Hash password : <%= user.password %></p>
        <p>Role : <%= user.role %></p>
    </div>

<%- include('partials/footer') %>